.swiper-button-next, .swiper-button-prev {
   
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  color: #fff;
}

.swiper-pagination-bullet {
  background-color:#fff;
  top: 20px;
  width: 11px;
  height: 12px;

    @media screen and (max-width: 500px) {
          width: 9px;
          height: 8px;
    } 

    @media screen and (max-width: 380px) {
      width: 6px;
      height: 5px;
} 
}



@media screen and (max-width: 750px) {
  .swiper-button-prev:after, .swiper-button-next:after  {
 
    
      font-size: 1rem;
      
  }
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 66px;


     @media screen and (max-width: 1000px) {
              bottom: 74px;
              position: relative;
     }   

     @media screen and (max-width: 1000px) {
            bottom: 50px;
            position: relative;
     }   
           
     @media screen and (max-width: 872px) {
                bottom: 50px;
                position: relative;
    }   

     
}